openapi: 3.0.3
info:
  title: Nexus AI API
  version: 1.0.0
  x-last-updated: '2026-08-14T00:33:00-03:00'
  description: |
    _Documentacao atualizada em 14/08/2026 00:33 (Brasilia)




    API da plataforma Nexus AI — sistema multi-tenant de atendimento ao cliente com agentes inteligentes,
    CRM, integracao WhatsApp e gestao de conhecimento.

    ## Autenticacao

    A API suporta dois metodos de autenticacao:

    - **JWT (Bearer Token)**: Obtido via `POST /auth/login`. Enviar no header `Authorization: Bearer {token}`.
    - **API Key**: Criada em `/settings/api-keys`. Enviar no header `X-API-Key: {chave}`.

    ## Fluxo de autenticacao

    1. `POST /auth/login` com email e password → recebe `token` (JWT)
    2. `GET /companies` com Bearer token → lista empresas do usuario → pega `company_id`
    3. `GET /workspaces?company_id={id}` → lista workspaces → pega o `id` desejado
    4. Usar `X-Workspace-Id: {workspace_id}` nos endpoints que exigem workspace

    ## Header X-Workspace-Id

    Endpoints que operam dentro de um workspace exigem o header `X-Workspace-Id` (UUID).

    **NAO exigem** X-Workspace-Id:
    - Auth (`/auth/*`)
    - Companies (`/companies/*`)
    - Workspaces (`/workspaces/*`)
    - Connections (`/connections/*`)
    - Invites (`/invites/*`)
    - Notifications (`/notifications/*`)
    - Admin (`/admin/*`)
    - Agent Templates (`/agent-templates/*`)
    - Public (`/public/*`)
    - Webhooks (`/webhooks/*`)

    **Exigem** X-Workspace-Id:
    - Agents, Agent Categories, Inbox, CRM (contacts, pipeline, psychology, products, loss-reasons, tags, automove),
      Appointments, Agent Calendars, Knowledge Base, Messages, Routing, Chat Categories,
      Availability, Analytics, Tools, Widgets, API Keys, Integrations

    ## Agenda e disponibilidade do vendedor

    Existem tres blocos complementares para tudo que envolve agenda:

    **1. Agendamentos (`/appointments`)** — reunioes propriamente ditas.
    - `GET /appointments` — lista com filtros de `status`, `agent_id` (responsavel), `start_date`, `end_date` e `derived_status`
      (`realized`, `no_show`, `cancelled`, `upcoming`, `scheduled`)
    - `POST /appointments` — cria a reuniao (titulo, `start_time`, `end_time`, participantes, `lead_id`, `agent_id`)
    - `GET /appointments/{id}` — detalhes | `PUT /appointments/{id}` — atualiza | `DELETE /appointments/{id}` — cancela
    - `POST /appointments/{id}/attendees` — adiciona participante
    - `GET /appointments/availability` — horarios livres (slots) de um responsavel em uma data
    - `POST /appointments/{id}/sync-calendar` — sincroniza com o Google Calendar

    Datas relevantes: `created_at` do agendamento e **quando a reuniao foi marcada**; `start_time` e **para quando ela foi marcada**.

    **2. Disponibilidade operacional (`/availability`)** — se o vendedor esta apto a receber leads agora.
    - `GET /availability` — disponibilidade do usuario autenticado
    - `PUT /availability` — atualiza `status`, `is_accepting_leads` e `max_concurrent_leads`
    - `GET /availability/{userId}` — disponibilidade de um usuario especifico

    Esses campos alimentam o roteamento de leads (`/routing`): um atendente com `is_accepting_leads = false`
    ou que atingiu o `max_concurrent_leads` deixa de ser elegivel nas estrategias de distribuicao.

    **3. Janelas de trabalho (`/agent-calendars`)** — horarios, intervalos e fuso de cada atendente,
    usados como base para calcular os slots retornados em `GET /appointments/availability`.
    O tamanho do slot (passo entre horarios candidatos) e uma configuracao geral do workspace
    definida em `/crm/settings/agent-calendars`; feriados sao respeitados tanto no widget publico
    quanto no agendamento feito pela IA.

  contact:
    name: Nexus AI
    url: https://nexus-ai-schema.lovable.app
  license:
    name: Proprietary

servers:
  - url: https://nexus-ai-schema.lovable.app/api/v1
    description: Producao
  - url: http://localhost:8080/api/v1
    description: Desenvolvimento

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Autenticacao e perfil do usuario. Nao exige X-Workspace-Id. Login e register sao publicos.
  - name: Companies
    description: Gestao de empresas e membros. Nao exige X-Workspace-Id.
  - name: Workspaces
    description: Gestao de workspaces. Nao exige X-Workspace-Id.
  - name: Agents
    description: Agentes de IA. Exige X-Workspace-Id.
  - name: Agent Categories
    description: Categorias de agentes. Exige X-Workspace-Id.
  - name: Agent Templates
    description: Templates de agentes. Nao exige X-Workspace-Id. Requer super_admin.
  - name: Inbox
    description: Caixa de entrada e gestao de leads. Exige X-Workspace-Id.
  - name: CRM Contacts
    description: Contatos do CRM. Exige X-Workspace-Id.
  - name: CRM Pipeline
    description: Pipeline e leads do CRM. Exige X-Workspace-Id.
  - name: CRM Psychology
    description: Analise psicologica DNIA de leads. Exige X-Workspace-Id.
  - name: CRM Products
    description: Produtos do CRM. Exige X-Workspace-Id.
  - name: CRM Loss Reasons
    description: Motivos de perda. Exige X-Workspace-Id.
  - name: CRM Tags
    description: Tags de contatos. Exige X-Workspace-Id.
  - name: CRM Automove
    description: Regras de movimentacao automatica. Exige X-Workspace-Id.
  - name: CRM Activities
    description: Atividades do CRM (reunioes, demos, calls) com estatisticas. Exige X-Workspace-Id.
  - name: CRM Funnel
    description: Estatisticas do funil de vendas com paridade ao Analytics interno. Exige X-Workspace-Id.
  - name: Appointments
    description: >-
      Agendamentos (reunioes) e consulta de horarios livres do responsavel via
      GET /appointments/availability. created_at = quando a reuniao foi marcada;
      start_time = para quando ela foi marcada. Exige X-Workspace-Id.
  - name: Google Calendar
    description: Integracao Google Calendar. Exige X-Workspace-Id.
  - name: Agent Calendars
    description: >-
      Calendarios dos atendentes (horarios de trabalho, intervalos e fuso). Base de calculo dos
      slots retornados em GET /appointments/availability. Exige X-Workspace-Id.
  - name: Knowledge Base
    description: Base de conhecimento e documentos. Exige X-Workspace-Id.
  - name: Connections
    description: Conexoes de canais. Nao exige X-Workspace-Id (filtra por workspace quando fornecido).
  - name: Z-API
    description: Integracao Z-API (WhatsApp nao-oficial). Nao exige X-Workspace-Id.
  - name: WhatsApp Official
    description: Integracao WhatsApp oficial. Nao exige X-Workspace-Id.
  - name: Messaging
    description: Envio de mensagens. Exige X-Workspace-Id.
  - name: Routing
    description: Roteamento de leads. Exige X-Workspace-Id.
  - name: Chat Categories
    description: Categorias de chat. Exige X-Workspace-Id.
  - name: Availability
    description: >-
      Disponibilidade operacional do atendente/vendedor (status, se esta aceitando leads e
      limite de leads simultaneos). Alimenta as estrategias de roteamento. Exige X-Workspace-Id.
  - name: Notifications
    description: Notificacoes do usuario. Nao exige X-Workspace-Id.
  - name: Analytics
    description: Relatorios e metricas. Exige X-Workspace-Id.
  - name: Tools
    description: Catalogo de ferramentas. Exige X-Workspace-Id.
  - name: Widgets
    description: Widgets de chat. Exige X-Workspace-Id.
  - name: Webhooks
    description: Webhooks de canais. Nao exige autenticacao.
  - name: Internal
    description: Endpoints internos do sistema. Requer autenticacao de servico.
  - name: API Keys
    description: Chaves de API. Exige X-Workspace-Id.
  - name: Admin
    description: Painel administrativo. Nao exige X-Workspace-Id. Requer super_admin.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    WorkspaceId:
      name: X-Workspace-Id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: ID do workspace ativo
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Pagina atual
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 50
      description: Itens por pagina
    Search:
      name: search
      in: query
      schema:
        type: string
      description: Termo de busca
    Sort:
      name: sort
      in: query
      schema:
        type: string
      description: Campo de ordenacao
    Order:
      name: order
      in: query
      schema:
        type: string
        enum: [asc, desc]
      description: Direcao da ordenacao

  schemas:
    SalesCycleBreakdown:
      type: object
      properties:
        key:
          type: string
          description: Origem do contato ou canal (utm_source). Valores vazios viram nao_identificado / sem_canal.
        won_count:
          type: integer
        avg_days:
          type: number
          nullable: true
        median_days:
          type: number
          nullable: true

    SalesCycle:
      type: object
      properties:
        period:
          type: object
          properties:
            start_date:
              type: string
            end_date:
              type: string
        won_count:
          type: integer
          description: Cards ganhos com closed_at dentro do periodo.
        avg_days:
          type: number
          nullable: true
          description: Ciclo medio em dias (created_at ate closed_at).
        median_days:
          type: number
          nullable: true
        min_days:
          type: number
          nullable: true
        max_days:
          type: number
          nullable: true
        p90_days:
          type: number
          nullable: true
          description: 90% das vendas fecham em ate N dias.
        total_value:
          type: number
          description: Soma do valor dos cards ganhos no periodo.
        previous_period:
          type: object
          nullable: true
          properties:
            start_date:
              type: string
            end_date:
              type: string
            won_count:
              type: integer
            avg_days:
              type: number
              nullable: true
            median_days:
              type: number
              nullable: true
        distribution:
          type: array
          items:
            type: object
            properties:
              bucket_days:
                type: string
                enum: ['0-1', '2-7', '8-15', '16-30', '31-60', '60+']
              count:
                type: integer
        by_source:
          type: array
          items:
            $ref: '#/components/schemas/SalesCycleBreakdown'
        by_channel:
          type: array
          items:
            $ref: '#/components/schemas/SalesCycleBreakdown'

    # ── CRM Performance (avaliacao de atendimento) ──────────────
    AnalysisPlaybook:
      type: object
      description: Tipo de analise cadastrado na empresa (playbook + rubrica + diretriz)
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "Reuniao de diagnostico" }
        description: { type: string, nullable: true }
        activity_types:
          type: array
          items: { type: string, enum: [meeting, demo, phone_call] }
        status: { type: string, enum: [draft, active, archived] }
        is_default: { type: boolean, description: "Pre-selecionada no primeiro atendimento de cada tipo" }
        ai_model: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    SellerDevelopmentPoint:
      type: object
      description: Ponto de desenvolvimento rastreado entre avaliacoes
      properties:
        id: { type: string, format: uuid }
        seller_id: { type: string, format: uuid }
        point_type: { type: string, enum: [criterion, habit] }
        point_key: { type: string }
        label: { type: string, nullable: true }
        playbook_id: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [open, recurrent, corrected] }
        occurrences: { type: integer }
        first_seen_at: { type: string, format: date-time }
        last_seen_at: { type: string, format: date-time }
        corrected_at: { type: string, format: date-time, nullable: true }

    AnalysisResultSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        activity_id: { type: string, format: uuid, nullable: true }
        lead_id: { type: string, format: uuid, nullable: true }
        seller_id: { type: string, format: uuid, nullable: true }
        seller_name: { type: string, nullable: true, description: "Snapshot do nome no momento da avaliacao" }
        playbook_id: { type: string, format: uuid, nullable: true }
        source_type: { type: string, enum: [daily_recording, call, meeting_chunks] }
        score: { type: integer, nullable: true, minimum: 0, maximum: 100 }
        status: { type: string, enum: [processing, done, failed] }
        summary_md: { type: string, nullable: true }
        occurred_at: { type: string, format: date-time, description: "Quando o atendimento aconteceu" }
        created_at: { type: string, format: date-time, description: "Quando a IA avaliou" }
        disregarded_at: { type: string, format: date-time, nullable: true }
        model: { type: string, nullable: true }

    AnalysisResult:
      allOf:
        - $ref: '#/components/schemas/AnalysisResultSummary'
        - type: object
          properties:
            workspace_id: { type: string, format: uuid }
            company_id: { type: string, format: uuid }
            rubric_version_id: { type: string, format: uuid, nullable: true }
            error_message: { type: string, nullable: true }
            criteria_results:
              type: array
              items:
                type: object
                properties:
                  criterion_key: { type: string }
                  name: { type: string }
                  stage: { type: string, nullable: true }
                  weight: { type: number }
                  verdict: { type: string, enum: [met, partial, missed, not_applicable] }
                  evidence: { type: string, description: "Citacao literal da transcricao" }
                  evidence_verified: { type: boolean }
                  feedback: { type: string }
            strengths:
              type: array
              items:
                type: object
                properties:
                  title: { type: string }
                  evidence: { type: string }
                  evidence_verified: { type: boolean }
            improvements:
              type: array
              items:
                type: object
                properties:
                  criterion_key: { type: string, nullable: true }
                  title: { type: string }
                  suggestion: { type: string }
            habits:
              type: array
              items:
                type: object
                properties:
                  habit_key: { type: string }
                  observed: { type: string, enum: [positive, negative] }
                  evidence: { type: string }
            recurrences:
              type: array
              items:
                type: object
                properties:
                  point_type: { type: string, enum: [criterion, habit] }
                  point_key: { type: string }
                  label: { type: string }
                  occurrences: { type: integer }
                  first_seen_at: { type: string, format: date-time }
            corrected:
              type: array
              items:
                type: object
                properties:
                  point_type: { type: string, enum: [criterion, habit] }
                  point_key: { type: string }
                  label: { type: string }
                  occurrences: { type: integer }

    # ── Common Responses ────────────────────────────────────────
    SuccessResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object

    PaginatedResponse:
      type: object
      required: [success, data, meta]
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            type: object
        meta:
          type: object
          required: [page, per_page, total]
          properties:
            page:
              type: integer
            per_page:
              type: integer
            total:
              type: integer

    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object

    # ── Entities ────────────────────────────────────────────────
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        availability_status:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        owner_id:
          type: string
          format: uuid
          nullable: true
        zapi_token_status:
          type: string
          nullable: true
        zapi_token_validated_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    CompanyMember:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [owner, admin, member]
        status:
          type: string
          enum: [active, inactive]
        joined_at:
          type: string
          format: date-time
        profiles:
          $ref: '#/components/schemas/User'

    CompanyInvite:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
        status:
          type: string
          enum: [pending, accepted, cancelled, expired]
        invitee_name:
          type: string
          nullable: true
        invitee_phone:
          type: string
          nullable: true
        workspace_ids:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

    Workspace:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        is_default:
          type: boolean
          nullable: true
        owner_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time

    WorkspaceMember:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [admin, member]
        status:
          type: string
          enum: [active, inactive]
        joined_at:
          type: string
          format: date-time
        profiles:
          $ref: '#/components/schemas/User'

    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        system_prompt:
          type: string
        tone:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        category_id:
          type: string
          format: uuid
          nullable: true
        is_active:
          type: boolean
        is_archived:
          type: boolean
        keywords:
          type: array
          items:
            type: string
          nullable: true
        icon:
          type: string
          nullable: true
        split_messages:
          type: boolean
        activation_description:
          type: string
          nullable: true
        knowledge_base_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AgentCategory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        color:
          type: string
          nullable: true
        is_active:
          type: boolean
        is_system:
          type: boolean

    AgentTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        system_prompt:
          type: string
        tone:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    Lead:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
        status:
          type: string
          enum: [new, ai_talking, needs_human, human_talking, closed]
        assigned_agent_id:
          type: string
          format: uuid
          nullable: true
        assigned_human_id:
          type: string
          format: uuid
          nullable: true
        source:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        sentiment:
          type: string
          nullable: true
        intent:
          type: string
          nullable: true
        urgency:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lead_id:
          type: string
          format: uuid
        content:
          type: string
          nullable: true
        sender_type:
          type: string
          enum: [lead, agent, human, system]
        sender_name:
          type: string
          nullable: true
        media_type:
          type: string
          nullable: true
        media_url:
          type: string
          format: uri
          nullable: true
        external_message_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    CRMContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
          nullable: true
        source:
          type: string
          nullable: true
        tags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'
          nullable: true
        notes:
          type: string
          nullable: true
        is_opted_out:
          type: boolean
        dnia_id:
          type: string
          format: uuid
          nullable: true
          description: ID universal do contato no dnMarketing
        created_at:
          type: string
          format: date-time

    ContactTag:
      type: object
      required: [name, color]
      properties:
        name:
          type: string
        color:
          type: string

    CRMPipelineStage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        position:
          type: integer
        color:
          type: string
          nullable: true
        is_default:
          type: boolean
        is_won:
          type: boolean
        is_lost:
          type: boolean

    CRMLead:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        contact_id:
          type: string
          format: uuid
        stage_id:
          type: string
          format: uuid
        title:
          type: string
          nullable: true
        value:
          type: number
          format: double
          nullable: true
        assigned_to:
          type: string
          format: uuid
          nullable: true
        product_id:
          type: string
          format: uuid
          nullable: true
        segment_id:
          type: string
          format: uuid
          nullable: true
        loss_reason_id:
          type: string
          format: uuid
          nullable: true
        propensity_score:
          type: number
          format: double
          nullable: true
        risk_score:
          type: number
          format: double
          nullable: true
        opportunity_score:
          type: number
          format: double
          nullable: true
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    CRMLeadPsychology:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lead_id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        dna_code:
          type: string
          nullable: true
          description: Codigo DNIA no formato "I5 | I4 | I3 | E4 | P5 | D3"
        temperatura:
          type: string
          nullable: true
          enum: [frio, morno, quente, muito_quente]
        dimension_inteligencia:
          type: integer
          nullable: true
        dimension_investimento:
          type: integer
          nullable: true
        dimension_intencao:
          type: integer
          nullable: true
        dimension_engajamento:
          type: integer
          nullable: true
        dimension_potencial:
          type: integer
          nullable: true
        dimension_decisao:
          type: integer
          nullable: true
        propensity_score:
          type: integer
          nullable: true
        risk_score:
          type: integer
          nullable: true
        opportunity_score:
          type: integer
          nullable: true
        emotional_keywords:
          type: array
          nullable: true
          items:
            type: string
        top_pains:
          type: array
          nullable: true
          items:
            type: object
        top_desires:
          type: array
          nullable: true
          items:
            type: object
        decision_process:
          type: object
          nullable: true
        self_sabotage_patterns:
          type: array
          nullable: true
          items:
            type: string
        ai_insights:
          type: string
          nullable: true
        sales_strategy:
          type: object
          nullable: true
        selling_playbook:
          type: object
          nullable: true
        sources_used:
          type: object
          nullable: true
          description: >
            Fontes de contexto efetivamente lidas na geracao desta analise.
            Nulo em analises anteriores a este campo.
          properties:
            chat:
              type: object
              properties:
                message_count:
                  type: integer
                lead_message_count:
                  type: integer
                first_at:
                  type: string
                  format: date-time
                  nullable: true
                last_at:
                  type: string
                  format: date-time
                  nullable: true
                capped:
                  type: boolean
            meetings:
              type: array
              items:
                $ref: '#/components/schemas/CRMLeadPsychologySource'
            calls:
              type: array
              items:
                $ref: '#/components/schemas/CRMLeadPsychologySource'
            notes:
              type: object
              properties:
                present:
                  type: boolean
                chars:
                  type: integer
        analyzed_at:
          type: string
          format: date-time
          nullable: true

    CRMLeadPsychologySource:
      type: object
      properties:
        activity_id:
          type: string
          format: uuid
        title:
          type: string
          nullable: true
        date:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          nullable: true
        has_transcript:
          type: boolean
        transcript_source:
          type: string
          description: >
            Origem do conteudo, na ordem da cascata: transcricao pos-reuniao,
            transcricao ao vivo (meeting_transcript_chunks) ou chat da sala.
          enum:
            - call_transcription
            - recording_transcription
            - live_transcription
            - live_transcription+meeting_chat
            - meeting_chat
            - none
        has_ai_analysis:
          type: boolean
        has_notes:
          type: boolean
        transcript_chars:
          type: integer
        omitted:
          type: boolean
          description: Transcricao existe mas ficou fora do contexto por limite de tamanho

    CRMProduct:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        price:
          type: number
          format: double
          nullable: true
        is_active:
          type: boolean

    CRMLossReason:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        is_active:
          type: boolean

    CRMAutomoveRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        source_stage_id:
          type: string
          format: uuid
        target_stage_id:
          type: string
          format: uuid
        condition_type:
          type: string
        condition_value:
          type: string
          nullable: true
        is_active:
          type: boolean

    Appointment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        attendees:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
              phone:
                type: string
          nullable: true
        status:
          type: string
          nullable: true
        lead_id:
          type: string
          format: uuid
          nullable: true
        agent_id:
          type: string
          format: uuid
          nullable: true
        google_event_id:
          type: string
          nullable: true
        contact_id:
          type: string
          format: uuid
          nullable: true
          description: Contato vinculado ao agendamento
        assigned_to:
          type: string
          format: uuid
          nullable: true
          description: Responsavel (profile) pelo agendamento
        created_at:
          type: string
          format: date-time
          description: Quando o agendamento foi criado (data em que a reuniao foi marcada)
        updated_at:
          type: string
          format: date-time
          nullable: true
        meeting_started_at:
          type: string
          format: date-time
          nullable: true
          description: Inicio real da reuniao (null se nao ocorreu)
        meeting_ended_at:
          type: string
          format: date-time
          nullable: true
        daily_room_name:
          type: string
          nullable: true
        daily_room_url:
          type: string
          nullable: true
        crm_contacts:
          type: object
          nullable: true
          description: Dados basicos do contato vinculado
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            phone:
              type: string
              nullable: true
            email:
              type: string
              nullable: true
        profiles:
          type: object
          nullable: true
          description: Dados basicos do responsavel (assigned_to)
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            email:
              type: string
              nullable: true
        is_realized:
          type: boolean
          description: Calculado - true quando meeting_started_at existe
        is_no_show:
          type: boolean
          description: Calculado - reuniao passada sem inicio e nao cancelada
        is_cancelled:
          type: boolean
          description: Calculado - status igual a cancelled
        is_upcoming:
          type: boolean
          description: Calculado - reuniao futura e nao cancelada
        derived_status:
          type: string
          enum: [realized, cancelled, no_show, upcoming, scheduled]
          description: Status derivado a partir das flags acima



    KnowledgeBase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        knowledge_base_id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
          nullable: true
        file_type:
          type: string
          nullable: true
        chunk_count:
          type: integer
          nullable: true
        status:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Connection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        connection_type:
          type: string
          enum: [zapi, whatsapp_official]
        name:
          type: string
        phone_number:
          type: string
          nullable: true
        is_active:
          type: boolean
        zapi_connected:
          type: boolean
          nullable: true
        zapi_payment_status:
          type: string
          nullable: true

    RoutingConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        strategy:
          type: string
          enum: [least_loaded, round_robin, skill_based, performance_based]
        auto_assign:
          type: boolean
        fallback_agent_id:
          type: string
          format: uuid
          nullable: true
        respect_card_owner:
          type: boolean
          description: Contato com card aberto no CRM volta para o responsável dele, sem rodízio
        scheduling_strategy:
          type: string
          enum: [least_loaded, round_robin]
        scheduling_load_window_days:
          type: integer
          minimum: 1
          description: Janela em dias para o cálculo de carga de agendamentos

    ChatCategory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        keywords:
          type: array
          items:
            type: string
          nullable: true
        is_active:
          type: boolean

    AgentAvailability:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        is_accepting_leads:
          type: boolean
        max_concurrent_leads:
          type: integer
          nullable: true

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        title:
          type: string
        message:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        is_read:
          type: boolean
        data:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time

    WidgetConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        welcome_message:
          type: string
          nullable: true
        theme_color:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        is_active:
          type: boolean

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workspace_id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        name:
          type: string
        key_prefix:
          type: string
        permissions:
          type: array
          items:
            type: string
          nullable: true
        created_by:
          type: string
          format: uuid
        last_used_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    ToolCatalog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        function_name:
          type: string
        parameters_schema:
          type: object
          nullable: true
        is_active:
          type: boolean

    # ── Request Bodies ──────────────────────────────────────────
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    RegisterRequest:
      type: object
      required: [email, password, full_name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        full_name:
          type: string
          description: Maps to 'name' in profiles table

    RefreshTokenRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    ResetPasswordRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    UpdateProfileRequest:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        availability_status:
          type: string

    CreateCompany:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        icon:
          type: string

    UpdateCompany:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        slug:
          type: string
        logo_url:
          type: string
          format: uri

    AddMemberRequest:
      type: object
      required: [email, password, full_name, role]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        full_name:
          type: string
        role:
          type: string
          enum: [admin, member]

    UpdateMemberRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [admin, member]

    InviteMemberRequest:
      type: object
      required: [email, role]
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member]

    AcceptInviteRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string

    ZapiTokenRequest:
      type: object
      required: [account_token]
      properties:
        account_token:
          type: string

    CreateWorkspace:
      type: object
      required: [company_id, name]
      properties:
        company_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        icon:
          type: string

    UpdateWorkspace:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        icon:
          type: string

    AddWorkspaceMemberRequest:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: string
          format: uuid

    CreateAgent:
      type: object
      required: [name, system_prompt]
      properties:
        name:
          type: string
        system_prompt:
          type: string
        tone:
          type: string
        category_id:
          type: string
          format: uuid
        keywords:
          type: array
          items:
            type: string
        icon:
          type: string

    UpdateAgent:
      type: object
      properties:
        name:
          type: string
        system_prompt:
          type: string
        tone:
          type: string
        category_id:
          type: string
          format: uuid
        is_active:
          type: boolean
        is_archived:
          type: boolean
        keywords:
          type: array
          items:
            type: string
        icon:
          type: string
        split_messages:
          type: boolean
        activation_description:
          type: string
        knowledge_base_id:
          type: string
          format: uuid

    AgentFromTemplateRequest:
      type: object
      required: [template_id, name]
      properties:
        template_id:
          type: string
          format: uuid
        name:
          type: string
        customizations:
          type: object

    AgentToolsRequest:
      type: object
      required: [tool_ids]
      properties:
        tool_ids:
          type: array
          items:
            type: string
            format: uuid

    AgentKnowledgeBasesRequest:
      type: object
      required: [knowledge_base_ids]
      properties:
        knowledge_base_ids:
          type: array
          items:
            type: string
            format: uuid

    CreateAgentCategory:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        icon:
          type: string
        color:
          type: string

    UpdateAgentCategory:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        icon:
          type: string
        color:
          type: string

    CreateAgentTemplate:
      type: object
      required: [name, system_prompt]
      properties:
        name:
          type: string
        description:
          type: string
        system_prompt:
          type: string
        tone:
          type: string
        category:
          type: string
        icon:
          type: string

    UpdateAgentTemplate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        system_prompt:
          type: string
        tone:
          type: string
        category:
          type: string
        icon:
          type: string
        is_active:
          type: boolean

    UpdateLead:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        notes:
          type: string
        tags:
          type: array
          items:
            type: string

    UpdateLeadStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [new, ai_talking, needs_human, human_talking, closed]

    AssignLeadRequest:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: string
          format: uuid

    TransferLeadRequest:
      type: object
      required: [target_agent_id]
      properties:
        target_agent_id:
          type: string
          format: uuid
        reason:
          type: string

    CreateMessageRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
        media_type:
          type: string
        media_url:
          type: string
          format: uri

    CreateCRMContact:
      type: object
      required: [name, phone]
      properties:
        name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        source:
          type: string
        company:
          type: string
          description: Nome da empresa do contato
        job_title:
          type: string
          description: Cargo do contato
        employee_count:
          type: string
          description: Porte da empresa (lista de seleção)
          enum:
            - Eu S.A.
            - 1-10 funcionarios
            - 11-50 funcionarios
            - 51-200 funcionarios
            - +200 funcionarios
        company_size:
          type: string
          description: Alias de employee_count (aceito na entrada). Mesmos valores do enum.
          enum:
            - Eu S.A.
            - 1-10 funcionarios
            - 11-50 funcionarios
            - 51-200 funcionarios
            - +200 funcionarios
        revenue:
          type: string
          description: Faturamento mensal estimado (lista de seleção)
          enum:
            - Ate 100k/mes
            - Entre 100k e 500k/mes
            - Entre 500k e 1MM/mes
            - Entre 1MM e 3MM/mes
            - Entre 3MM e 5MM/mes
            - Acima de 5MM/mes

        tags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'
        notes:
          type: string

    UpsertCRMContact:
      type: object
      description: >-
        Identifica o contato por telefone ou e-mail dentro da empresa. Se existir, sobrescreve
        os campos enviados (campos omitidos permanecem inalterados) e reativa contatos inativos.
        Se nao existir, cria um novo contato (neste caso 'name' e obrigatorio).
        O campo 'source' so e definido quando o contato ainda nao possui origem.
      properties:
        name:
          type: string
          description: Obrigatorio quando o contato ainda nao existe
        phone:
          type: string
          description: Telefone (normalizado com DDI 55). Obrigatorio se 'email' nao for enviado
        email:
          type: string
          format: email
          description: Obrigatorio se 'phone' nao for enviado
        source:
          type: string
        company:
          type: string
        job_title:
          type: string
        position:
          type: string
        employee_count:
          type: string
        company_size:
          type: string
          description: Alias de employee_count
        revenue:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'
        notes:
          type: string
        custom_fields:
          type: object
          additionalProperties: true




    UpdateCRMContact:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        source:
          type: string
        company:
          type: string
        job_title:
          type: string
        employee_count:
          type: string
          enum:
            - Eu S.A.
            - 1-10 funcionarios
            - 11-50 funcionarios
            - 51-200 funcionarios
            - +200 funcionarios
        company_size:
          type: string
          description: Alias de employee_count
          enum:
            - Eu S.A.
            - 1-10 funcionarios
            - 11-50 funcionarios
            - 51-200 funcionarios
            - +200 funcionarios
        revenue:
          type: string
          enum:
            - Ate 100k/mes
            - Entre 100k e 500k/mes
            - Entre 500k e 1MM/mes
            - Entre 1MM e 3MM/mes
            - Entre 3MM e 5MM/mes
            - Acima de 5MM/mes

        tags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'
        notes:
          type: string


    UpdateContactTagsRequest:
      type: object
      required: [tags]
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'

    UpdateOptOutRequest:
      type: object
      required: [is_opted_out]
      properties:
        is_opted_out:
          type: boolean

    BackfillContactsRequest:
      type: object
      required: [contact_ids]
      properties:
        contact_ids:
          type: array
          items:
            type: string
            format: uuid

    CreateCRMPipelineStage:
      type: object
      required: [name]
      properties:
        name:
          type: string
        position:
          type: integer
        color:
          type: string
        is_default:
          type: boolean
        is_won:
          type: boolean
        is_lost:
          type: boolean

    UpdateCRMPipelineStage:
      type: object
      properties:
        name:
          type: string
        position:
          type: integer
        color:
          type: string
        is_default:
          type: boolean
        is_won:
          type: boolean
        is_lost:
          type: boolean

    ReorderStagesRequest:
      type: object
      required: [stage_ids]
      properties:
        stage_ids:
          type: array
          items:
            type: string
            format: uuid

    CreateCRMLead:
      type: object
      required: [contact_id, stage_id]
      properties:
        contact_id:
          type: string
          format: uuid
        stage_id:
          type: string
          format: uuid
        title:
          type: string
        value:
          type: number
          format: double
        product_id:
          type: string
          format: uuid
        assigned_to:
          type: string
          format: uuid
        description:
          type: string
        notes:
          type: string
        source:
          type: string
          description: >-
            Origem do lead. Validada contra as origens ATIVAS cadastradas em
            /settings/company > "Origens do Lead" (GET /crm/contact-sources).
            Valores fora da lista sao registrados como "Nao identificado"
            (com aviso em meta.warnings).
            Aplicada ao contato quando ele ainda nao possui origem.
        channel:
          type: string
          description: >-
            Canal do card (exibido como "Canal" no detalhe do lead). Alias de
            utm_source; se ambos forem enviados, utm_source prevalece.
        utm_source:
          type: string
        utm_medium:
          type: string
        utm_campaign:
          type: string
        utm_content:
          type: string
        utm_term:
          type: string
        tags:
          type: array
          description: >-
            Tags aplicadas ao contato do lead (max. 20 por requisicao, 50
            caracteres cada). Tags ja existentes sao ignoradas e retornadas em
            meta.tags_skipped.
          items:
            type: string
        note:
          type: string
          maxLength: 5000
          description: >-
            Nota registrada na timeline do card (aparece em "Notas e
            atualizacoes"). O id gerado retorna em meta.note_id.
        segment:
          type: string
          description: >-
            Segmento de mercado (nome ou UUID). Validado contra os segmentos
            ATIVOS de /settings/company > "Segmentos". Valores fora do
            catalogo caem no segmento marcado como "Padrao" (aviso em
            meta.warnings). O segmento aplicado retorna em meta.segment.
        segment_id:
          type: string
          format: uuid
          description: >-
            Id do segmento. Tem precedencia sobre `segment`.


    UpdateCRMLead:
      type: object
      properties:
        contact_id:
          type: string
          format: uuid
        stage_id:
          type: string
          format: uuid
          description: >-
            Ao mudar de etapa, a movimentacao e registrada no historico do card.
        title:
          type: string
        value:
          type: number
          format: double
        assigned_to:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        loss_reason_id:
          type: string
          format: uuid
        status:
          type: string
        description:
          type: string
        notes:
          type: string
        source:
          type: string
          description: >-
            Origem validada contra "Origens do Lead". Aplicada ao contato
            somente quando ele ainda nao possui origem.
        channel:
          type: string
          description: Alias de utm_source (campo "Canal" do card).
        utm_source:
          type: string
        utm_medium:
          type: string
        utm_campaign:
          type: string
        utm_content:
          type: string
        utm_term:
          type: string
        tags:
          type: array
          items:
            type: string
        note:
          type: string
          maxLength: 5000
        segment:
          type: string
          description: >-
            Segmento de mercado (nome ou UUID). Validado contra os segmentos
            ATIVOS de /settings/company > "Segmentos". Valores fora do
            catalogo caem no segmento marcado como "Padrao" (aviso em
            meta.warnings). O segmento aplicado retorna em meta.segment.
        segment_id:
          type: string
          format: uuid
          description: >-
            Id do segmento. Tem precedencia sobre `segment`.


    UpsertCRMLead:
      allOf:
        - $ref: '#/components/schemas/UpdateCRMLead'
        - type: object
          properties:
            lead_id:
              type: string
              format: uuid
              description: >-
                Id do card a atualizar. Se omitido, o card aberto do contact_id
                no workspace e usado; se nao existir, um novo card e criado
                (stage_id obrigatorio nesse caso).



    MoveLeadStageRequest:
      type: object
      required: [stage_id]
      properties:
        stage_id:
          type: string
          format: uuid
        loss_reason_id:
          type: string
          format: uuid

    AssignCRMLeadRequest:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: string
          format: uuid

    CreateCRMLeadActivity:
      type: object
      required: [type, title]
      properties:
        type:
          type: string
        title:
          type: string
        description:
          type: string
        due_date:
          type: string
          format: date-time

    UpdateCRMLeadActivity:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        description:
          type: string
        due_date:
          type: string
          format: date-time

    CreateCRMProduct:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: double
        is_active:
          type: boolean

    UpdateCRMProduct:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: double
        is_active:
          type: boolean

    CreateCRMLossReason:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        is_active:
          type: boolean

    UpdateCRMLossReason:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        is_active:
          type: boolean

    RenameTagRequest:
      type: object
      required: [old_name, new_name]
      properties:
        old_name:
          type: string
        new_name:
          type: string

    CreateCRMAutomoveRule:
      type: object
      required: [name, source_stage_id, target_stage_id, condition_type]
      properties:
        name:
          type: string
        source_stage_id:
          type: string
          format: uuid
        target_stage_id:
          type: string
          format: uuid
        condition_type:
          type: string
        condition_value:
          type: string
        is_active:
          type: boolean

    UpdateCRMAutomoveRule:
      type: object
      properties:
        name:
          type: string
        source_stage_id:
          type: string
          format: uuid
        target_stage_id:
          type: string
          format: uuid
        condition_type:
          type: string
        condition_value:
          type: string
        is_active:
          type: boolean

    CreateAppointment:
      type: object
      required: [title, start_time, end_time]
      properties:
        title:
          type: string
        description:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        attendees:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
              phone:
                type: string
        status:
          type: string
        lead_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid

    UpdateAppointment:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        attendees:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
              phone:
                type: string
        status:
          type: string
        lead_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid

    AddAttendeeRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        email:
          type: string
        phone:
          type: string

    GoogleCalendarCallbackRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string

    UpdateAgentCalendarRequest:
      type: object
      properties:
        calendar_id:
          type: string
        is_enabled:
          type: boolean
        working_hours:
          type: object

    CreateKnowledgeBase:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string

    UpdateKnowledgeBase:
      type: object
      properties:
        name:
          type: string
        description:
          type: string

    KnowledgeBaseSearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
        limit:
          type: integer

    UpdateConnectionWorkspacesRequest:
      type: object
      required: [workspace_ids]
      properties:
        workspace_ids:
          type: array
          items:
            type: string
            format: uuid

    CreateZapiConnectionRequest:
      type: object
      required: [instance_id, api_token, workspace_id]
      properties:
        instance_id:
          type: string
        api_token:
          type: string
        workspace_id:
          type: string
          format: uuid

    UpdateZapiConnectionRequest:
      type: object
      properties:
        instance_id:
          type: string
        api_token:
          type: string
        name:
          type: string

    ValidateZapiRequest:
      type: object
      required: [instance_id, api_token]
      properties:
        instance_id:
          type: string
        api_token:
          type: string

    ValidateZapiTokenRequest:
      type: object
      required: [account_token]
      properties:
        account_token:
          type: string

    ZapiControlRequest:
      type: object
      required: [action]
      properties:
        action:
          type: string
        params:
          type: object

    CreateWhatsAppConnectionRequest:
      type: object
      required: [name, phone_number]
      properties:
        name:
          type: string
        phone_number:
          type: string
        workspace_id:
          type: string
          format: uuid

    UpdateWhatsAppConnectionRequest:
      type: object
      properties:
        name:
          type: string
        phone_number:
          type: string

    WhatsAppSendRequest:
      type: object
      required: [to, content, type]
      properties:
        to:
          type: string
        content:
          type: string
        type:
          type: string

    SendMessageRequest:
      type: object
      required: [lead_id, content]
      properties:
        lead_id:
          type: string
          format: uuid
        content:
          type: string
        media_type:
          type: string
        media_url:
          type: string
          format: uri

    UpdateRoutingConfig:
      type: object
      properties:
        strategy:
          type: string
          enum: [least_loaded, round_robin, skill_based, performance_based]
        auto_assign:
          type: boolean
        fallback_agent_id:
          type: string
          format: uuid
        respect_card_owner:
          type: boolean
          description: Contato com card aberto no CRM volta para o responsável dele, sem rodízio
        scheduling_strategy:
          type: string
          enum: [least_loaded, round_robin]
        scheduling_load_window_days:
          type: integer
          minimum: 1
          description: Janela em dias para o cálculo de carga de agendamentos

    UpdateAgentAssignments:
      type: object
      properties:
        assignments:
          type: array
          items:
            type: object
            properties:
              agent_id:
                type: string
                format: uuid
              category_ids:
                type: array
                items:
                  type: string
                  format: uuid

    CreateChatCategory:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        keywords:
          type: array
          items:
            type: string
        is_active:
          type: boolean

    UpdateChatCategory:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        keywords:
          type: array
          items:
            type: string
        is_active:
          type: boolean

    UpdateAvailabilityRequest:
      type: object
      properties:
        status:
          type: string
        is_accepting_leads:
          type: boolean
        max_concurrent_leads:
          type: integer

    CreateWidgetConfig:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
        welcome_message:
          type: string
        theme_color:
          type: string
        position:
          type: string
        is_active:
          type: boolean

    UpdateWidgetConfig:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        welcome_message:
          type: string
        theme_color:
          type: string
        position:
          type: string
        is_active:
          type: boolean

    WidgetSessionRequest:
      type: object
      properties:
        visitor_name:
          type: string
        visitor_email:
          type: string

    OrchestratorRequest:
      type: object
      required: [message_id]
      properties:
        message_id:
          type: string
          format: uuid

    ProcessDocumentRequest:
      type: object
      required: [document_id]
      properties:
        document_id:
          type: string
          format: uuid

    GenerateEmbeddingsRequest:
      type: object
      required: [document_id]
      properties:
        document_id:
          type: string
          format: uuid

    CreateApiKey:
      type: object
      required: [name]
      properties:
        name:
          type: string
        permissions:
          type: array
          items:
            type: string
        expires_at:
          type: string
          format: date-time

    UpdateAdminCompany:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        is_active:
          type: boolean

    UpdateUserRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [super_admin, admin, member]

    # ── Auth Responses ──────────────────────────────────────────
    AuthTokenResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            token:
              type: string
            user:
              $ref: '#/components/schemas/User'

paths:
  # ════════════════════════════════════════════════════════════════
  # 1. Auth
  # ════════════════════════════════════════════════════════════════
  /auth/login:
    post:
      operationId: authLogin
      summary: Login com email e senha
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Credenciais invalidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/register:
    post:
      operationId: authRegister
      summary: Registrar novo usuario
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Usuario criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/logout:
    post:
      operationId: authLogout
      summary: Encerrar sessao do usuario
      tags: [Auth]
      responses:
        '200':
          description: Sessao encerrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      operationId: authRefreshToken
      summary: Renovar token de acesso
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token renovado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          description: Token invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/reset-password:
    post:
      operationId: authResetPassword
      summary: Solicitar reset de senha
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Email de reset enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Email invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/me:
    get:
      operationId: authGetProfile
      summary: Obter perfil do usuario autenticado
      tags: [Auth]
      responses:
        '200':
          description: Perfil do usuario
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: authUpdateProfile
      summary: Atualizar perfil do usuario
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Perfil atualizado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ════════════════════════════════════════════════════════════════
  # 2. Companies
  # ════════════════════════════════════════════════════════════════
  /companies:
    get:
      operationId: listCompanies
      summary: Listar empresas do usuario
      tags: [Companies]
      responses:
        '200':
          description: Lista de empresas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Company'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createCompany
      summary: Criar nova empresa
      tags: [Companies]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompany'
      responses:
        '201':
          description: Empresa criada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Company'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /companies/{id}:
    get:
      operationId: getCompany
      summary: Detalhes da empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalhes da empresa
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Company'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Empresa nao encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateCompany
      summary: Atualizar empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
      responses:
        '200':
          description: Empresa atualizada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Company'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Empresa nao encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteCompany
      summary: Remover empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Empresa removida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Empresa nao encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /companies/{id}/members:
    get:
      operationId: listCompanyMembers
      summary: Listar membros da empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de membros
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Empresa nao encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: addCompanyMember
      summary: Adicionar membro a empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemberRequest'
      responses:
        '201':
          description: Membro adicionado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /companies/{id}/members/{userId}:
    put:
      operationId: updateCompanyMemberRole
      summary: Alterar role de membro da empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRoleRequest'
      responses:
        '200':
          description: Role atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Membro nao encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeCompanyMember
      summary: Remover membro da empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Membro removido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Membro nao encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /companies/{id}/invites:
    post:
      operationId: sendCompanyInvite
      summary: Enviar convite para a empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
      responses:
        '201':
          description: Convite enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: listCompanyInvites
      summary: Listar convites da empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de convites
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /companies/{id}/invites/{inviteId}:
    delete:
      operationId: cancelCompanyInvite
      summary: Cancelar convite
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: inviteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Convite cancelado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Convite nao encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /invites/accept:
    post:
      operationId: acceptInvite
      summary: Aceitar convite de empresa
      tags: [Companies]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInviteRequest'
      responses:
        '200':
          description: Convite aceito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Token invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /companies/{id}/zapi-token:
    put:
      operationId: updateCompanyZapiToken
      summary: Configurar token Z-API da empresa
      tags: [Companies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZapiTokenRequest'
      responses:
        '200':
          description: Token atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Token invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ════════════════════════════════════════════════════════════════
  # 3. Workspaces
  # ════════════════════════════════════════════════════════════════
  /workspaces:
    get:
      operationId: listWorkspaces
      summary: Listar workspaces
      tags: [Workspaces]
      parameters:
        - name: company_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de workspaces
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Workspace'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createWorkspace
      summary: Criar workspace
      tags: [Workspaces]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspace'
      responses:
        '201':
          description: Workspace criado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Workspace'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /workspaces/{id}:
    get:
      operationId: getWorkspace
      summary: Detalhes do workspace
      tags: [Workspaces]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalhes do workspace
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Workspace'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspace nao encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateWorkspace
      summary: Atualizar workspace
      tags: [Workspaces]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspace'
      responses:
        '200':
          description: Workspace atualizado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Workspace'
        '400':
          description: Dados invalidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspace nao encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteWorkspace
      summary: Remover workspace
      tags: [Workspaces]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workspace removido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspace nao encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /workspaces/{id}/members:
    get:
      operationId: listWorkspaceMembers
      summary: Listar membros do workspace
      tags: [Workspaces]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de membros
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
        '401':
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Sem permissao
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: addWorkspaceMember
      summary: Adicionar membro ao workspace
      tags: [Workspaces]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
[...]
